* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

nav {
    display: table;
    width: 100%;
    max-width: 1170px;
    margin: auto;
    position: sticky;
    top: 0;
    padding: 20px;
}

nav img {
    height: 1rem;
    float: right;
    margin-top: -16px;
}

ul {
    margin-top: 15px;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    font-family: anton;
    color: black;
}

nav ul li a:hover {
    transition: ease-in-out 0.3s;
    color: rgb(225, 39, 39);
}


/* ABOUT */

.container {
    width: 90%;
    margin: auto;
    max-width: 800px;
}

.about {
    margin: 5rem 0rem;
    text-align: center;
}

/* GALLERY */

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resize {
    padding: 5px;
    width: 80%;
    height: 80%;
}

/* FOOTER */

footer ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer ul li {
    list-style: none;
    display: inline;
}

footer span {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.footer-payments {
    display: flex;
    justify-content: center;
}

.footer-payments i {
    padding: 5px;
}

/* CART */

.fa-shopping-cart {
    color: rgb(225, 39, 39);
}

.store-container {
    width: 90%;
    margin: auto;
    max-width: 1000px;
    height: 100vh;
    padding-top: 10rem;
}

.cart-headline {
    text-align: center;
    font-family: anton;
    letter-spacing: 3px;
}

.cart-description {
    display: flex;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.flex-grow-1 {
    flex-grow: 1;
}

.cart-description span {
    padding: 20px;
}

/* CONTENT / PRODUCTS */

.item-image {
    height: 3rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.item-description {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    position: relative;
}

.item-description span {
    padding: 20px;
}

.item-description button {
    border: none;
    padding: 3px;
    cursor: pointer;
    background-color: rgb(225, 39, 39);
    color: white;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.item-description input {
    width: 50px; 
    height: 60px;
}

.price {
    margin-right: 30px;
    box-sizing: border-box;
}

.quantity {
    box-sizing: border-box;
    margin-right: 20px;
    border: 1px solid rgba(232, 232, 232, 1);
}

/* CHECKOUT DETAILS*/

.checkout-details {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.total-cost {
    margin-right: 100px;
}

.taxes {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* METHOD OF PAYMENT BUTTONS*/

.payment-buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}

.payment-buttons button {
    padding: 5px;
}

.payment-button-margin {
    margin-right: 10px;
}

/* PAYMENT OPTIONS */

.payment-methods {
    padding-top: 20px;
}

.payment-methods img {
    height: 3rem;
}

.payment-methods .pp {
    height: 2.75rem;
    background-color: #FFCC00;
    border-radius: 15px;
}

/* LANDING PAGE LOGO */

.homepage-container {
    max-width: 1000px;
    margin: auto;
}

.home-logo img {
    height: 2rem;
    padding-top: 2rem;
}

.seasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 2rem;
}

.seasons span a {
    text-decoration: none;
    font-family: anton;
    color: black;
}

.homepage-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-image img {
    width: 100%;
    max-width: 800px;
}

.credits {
    text-align: center;
}

.credits-header {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 20px;
}

.credits-header img {
    height: 1.5rem;
}

.credit-template img {
    height: 9rem;
}

/* PRODUCT SHOWCASE */

.product-info {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    height: 100vh;
}

.product-image {
    display: flex;
    justify-content: center;
}

.product-info img {
    height: 30rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.product-image-sub {
    display: flex;
    justify-content: space-around;
}

.product-image-sub img {
    height: 10rem;
    background-color: rgba(232, 232, 232, 1);
}

.product-description {
    margin-top: 50px;
}

.product-description span {
    padding: 15px;
    display: block;
}

.manufacturing-details {
    padding: 30px;
}

.manufacturing-details li {
    padding-top: 20px;
}

/* DROPDOWN SIZES */
.dropbtn {
    background-color: rgb(225, 39, 39);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    padding-left: 15px;
    width: 25%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    opacity: 70%;
}

.dropdown-margin {
    margin-top: 20rem;
}

/* STORE PAGE */

.store-products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    margin-top: 5rem;
    max-width: 500px;
}

.store-products img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.product-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-detail-image {
    position: relative;
    display: flex;
    justify-content: center;
}

.product-detail-image img {
    height: 30rem;
}

.hover-description {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hover-description button {
    width: 100px;
    padding: 3px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    margin: 10px;
}

.product-detail-image:hover {
    transition: .4s ease-in-out;
    opacity: 60%;
    border: 6px solid grey;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 0s;
}




















/* MEDIA QUERY 
.store-container {
    display: flex;
    flex-direction: column;
}

.cart-description span {
    display: block;
}

.item-description span {
    display: block;
}

.cart-item {
    display: flex;
    align-items: center;
    border: 1px solid black;
}*/